.add__customer {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	/* display: flex;
	justify-content: center;
	align-content: center;
	align-items: center; */
}
.add__customer__overflow {
	width: 100%;
	height: 100%;
	padding: 50px 0;
	overflow-y: scroll;
	background-color: transparent;
	display: grid;
	justify-content: center;
}
.add__customer__content {
	width: 750px;
	background: #fff;
	border-radius: 5px;
	margin: 10px;
	padding: 10px 0;
	display: inline-flex;
	flex-direction: column;
}
.add__customer__top {
	margin: 15px 20px 0px;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 0 10px;
}
.add__customer__top h3 {
    font-size: 23px;
    /* padding: 1rem 0 0 1rem; */
    color: #A3A3A3;
}
.add__customer__top svg {
    color: #A3A3A3;
    font-size: 35px;
    cursor: pointer;
    right: -5px;
    top: -15px;
    position: absolute;
}
.add__customer__form {
    max-width: 100%;
    margin: 10px 20px;
    /* padding: 0 10px; */
    box-shadow: -1px 1px 10px -8px;
}
.add__customer__middle__buttons {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    height: 50px;
    box-shadow: 0px 2px 4px -2px;
}
.add__customer__middle__buttons button {
    border: none;
    width: 100%;
    font-size: 15px;
    color: #4B554D;
    text-transform: uppercase;
    font-weight: 500;
}
/* .add__customer__middle__buttons button:hover {
	color: #366F35;
} */

.shipping__address__form {
	position: relative;
	width: 100%;
  }
  

.row {
    margin: 8px 0;
}
/* .add__customer__form input {
	width: 100%;
	height: 35px;
	outline: none;
	box-shadow: none;
	border-style: none;
	border-bottom: 1px solid #C3C7CC;
	padding: 0;
	font-size: 17px;
	margin: 10px 0;
	font-weight: 500;
	color: #4C5055;
	background-color: transparent;
} */
/* .add__customer__form button {
	width: 100%;
	height: 50px;
	padding: 10px;
	font-size: 22px;
	margin: 60px 0 20px 0;
	font-weight: 700;
	background-color: #4B554D;
	border: none;
	text-decoration: none;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	outline: none;
} */

.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}
.col-25 label {
	padding: 7px 0 0 15px;
	display: inline-block;
	font-weight: 400;
	font-size: 15px;
	color: #6d6b6b;
}
.col-75{
	float: left;
	width: 75%;
	margin-top: 6px;
	padding: 0 50px 0 0;
}
.col-75 input[type="text"], input[type="email"], select {
	width: 100%;
	padding: 5px 12px;
	height: 35px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: none;
	font-size: 15px;
	font-weight: 300;
	outline: none;
	box-shadow: none;
	color: #6d6b6b;
}
.add__customer__select {
	font-size: 16px;
	font-weight: 300;
	outline: none;
	box-shadow: none;
	color: #A3A3A3;
	background-color: #fff;
}
.add__customer__select__option {
	font-size: 16px;
	font-weight: 300;
	outline: none;
	box-shadow: none;
	color: #A3A3A3;
}
.row::after {
	content: "";
	display: table;
	clear: both;
}
/* .custom-select-container {
	position: relative;
	width: 100%;
}
  
.custom-select {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	height: 35px;
	outline: none;
	box-shadow: none;
	border-style: none;
	border-bottom: 1px solid #C3C7CC;
	padding: 0;
	font-size: 17px;
	margin: 10px 0;
	font-weight: 500;
	color: #4C5055;
	background-color: transparent;
} */
  
/* .custom-select.open {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
} */
  
/* .selected-option span{
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	color: #A1A5AA !important;
}
  
.dropdown-icon {
	font-size: 20px;
	color: #A1A5AA !important;
}
  
.options {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #fff;
	border: 1px solid #ccc;
	border-top: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 8px;
	list-style: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	color: #A1A5AA !important;
}
  
  .options li {
	padding: 4px;
  }
  
  .options li:hover {
	background-color: #f5f5f5;
  } */
  

